<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992240990713-9a1j7sir6k1kucoa097mu14fo2o5irpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992240990713-9a1j7sir6k1kucoa097mu14fo2o5irpm</string>
	<key>API_KEY</key>
	<string>AIzaSyCdVXkD8uQa5qX1y6UdI61brH8QdDO0ndE</string>
	<key>GCM_SENDER_ID</key>
	<string>992240990713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstfirebaseproject</string>
	<key>PROJECT_ID</key>
	<string>firstfirebaseproject-77adc</string>
	<key>STORAGE_BUCKET</key>
	<string>firstfirebaseproject-77adc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992240990713:ios:2ad53075212ae546d42528</string>
</dict>
</plist>